@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif !important;
  /* font-size: 62.5%; */
}

:root {
  min-height: 100vh;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif !important;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* font-size: 62.5%; */
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

  --color-main-bg: #d4a437;
  --color-primary-bg: #efefef;
  --color-header-text: #212529;

  --color-border-white: #eeeeee;

  --color-main-primary: linear-gradient(180deg, #009900 0%, #2fce2f 100%);

  --color-primary-white: #ffffff;

  --font-s-2: 0.2rem;
  --font-s-4: 0.4rem;
  --font-s-6: 0.6rem;
  --font-s-10: 1rem;
  --font-s-12: 1.2rem;
  --font-s-14: 1.4rem;
  --font-s-16: 1.6rem;
  --font-s-18: 1.8rem;
  --font-s-20: 2rem;
  --font-s-22: 2.2rem;
  --font-s-24: 2.4rem;

  --font-w-normal: 400;
  --font-w-medium: 500;
  --font-w-semibold: 600;
  --font-w-bold: 800;
}

html {
  font-family: "Lato", sans-serif !important;
  background-color: var(--color-main-bg);
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif !important;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-body-text);
  font-family: "Lato", sans-serif !important;
  font-size: 1.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Lato", sans-serif !important;
}
.ant-menu-item-selected .anticon {
  color: red !important; /* Change the color */
}

a:link,
a:visited {
  text-decoration: none;
}

.icon {
  @media (max-width: 400px) {
    height: 10rem;
    width: 20rem;
  }
}

.error {
  color: red;
  font-size: 1.4rem;
}

.ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  overflow: auto;
}

/* .ant-steps {
  width: 33.7rem;
  width:50rem;
  
} */

.ant-steps {
  width: 100%; /* Full width on small screens */

  @media screen and (min-width: 768px) {
    width: 40rem; /* Set a reasonable width for tablets */
  }
  @media screen and (max-width: 540px) {
    padding-inline: 3rem;
    /* padding-block-end: 2rem; */
    gap: 2rem;
  }

  @media screen and (min-width: 1024px) {
    width: 50rem; /* Use the larger width for desktop screens */
  }
}
.ant-steps .ant-steps-item-title {
  white-space: nowrap;
  font-weight: var(--font-w-semibold);
}

.ant-steps-item-finish .ant-steps-item-tail::after,
.ant-steps-item-process .ant-steps-item-tail::after {
  background: green; /* Change this to any color you like */
}

.ant-steps-item-tail::after {
  border-color: green;
}

.ant-steps
  .ant-steps-item-custom
  > .ant-steps-item-container
  > .ant-steps-item-icon
  > .ant-steps-icon
  > div {
  width: "50px";
  height: "50px";
  border-radius: "50%";
  background: "green";
  color: "white";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  font-size: "2rem";
}

.ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  @media screen and (max-width: 540px) {
    display: flex;
    align-items: center;
    padding-inline-start: 2rem;
  }
}
.ant-menu-inline.ant-menu-root .ant-menu-item:focus {
  & svg path {
    fill: var(--color-green-text);
  }
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0.8rem 1.2rem;

  &:hover {
    background-color: var(--color-green-bg);
  }
}

.ant-dropdown .ant-dropdown-menu {
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: "#f1f1f1";
}

::-webkit-scrollbar-thumb {
  background: rgb(191, 187, 187);
  border-radius: 1rem;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-block-start: 4rem;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
  }
}

.alignLeft {
  display: flex;
  justify-content: start;
}

.alignRight {
  display: flex;
  justify-content: end;
}

.spinColor {
  background-color: var(--color-green-bg);
}
// .line{
//   width: 100%;
//   border-bottom: 2px solid #EEEEEE; /* Adds the red bottom border */
// margin-block: 0.5rem;
// }
.modalMain {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 540px) {
    padding: 0rem;
  }
}

.ModalWrapper {
  text-align: center;
  line-height: 3.2rem;
  padding-block: 2rem;
}
.ModalPara {
  color: var(--color-header-text);
  font-size: 2.4rem;
  font-weight: 500;
  padding-block: 2rem;
}
.btn {
  width: 100%;
}
.buttonStyle {
  min-width: 22rem;
  width: 100%;

  @media screen and (min-width: 768px) {
    min-width: 22rem;
    width: 0 !important;
  }
  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}
.rejectButtonStyle {
  @extend .buttonStyle;
  color: red;
}
.RejectModalWrapper {
  text-align: center;
  line-height: 3.2rem;
  padding-block-start: 5rem;
}
.RejectModalPara {
  color: var(--color-header-text);
  font-size: 1.6rem;
  font-weight: bold;
}
.label {
  color: #222222;
  font-weight: 600;
  font-size: 1.6rem;
}

.editor-container {
  .ck-editor__editable_inline {
    padding: 0 30px !important; /* Ensure proper padding */
    min-height: 200px; /* Add a minimum height */
  }
}

/* Custom styles for Ant Design Pagination */
.ant-pagination-item {
  background-color: var(--color-primary-white);
  color: var(--color-body-black);
  border: #e7e7e7 solid 1px !important;
}

.ant-pagination-item-active {
  background-color: var(--color-primary-green) !important;
  color: var(--color-body-black);
  border: var(--color-primary-green) solid 1px !important;
}
.ant-pagination .ant-pagination-item-active a {
  color: var(
    --color-primary-white
  ) !important; /* Text color inside the active page */
}

.btn-group {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.571rem;
  margin-block-start: 2.5rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: green !important;
  border-color: green !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white !important;
}
