.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .sidebarMenu {
    flex-grow: 1;
    overflow-y: auto;
    background-color:var( --color-border-white);
    border-block-start: 1px solid var( --color-border-white);
  }
  
  .sidebarContainer {
    height: 100vh;
    overflow: hidden;
    display: none;
  
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  
    @media screen and (min-width: 768px) {
      grid-template-columns: 25rem 1fr;
    }
  }
  
  .logo {
    position: sticky;
    top: 0;
    z-index: 10;
    margin-inline: 2rem;
    padding-inline-start: 1.6rem;
    padding-block: 2.8rem;
    // padding-block-end: 3rem;

    display: none;
    font-size: 2rem;
    font-weight: 500;
  
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
  }
  
  //HEADER
  .info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color:  var(--color-primary-white);
    border:var(--color-primary-white) ;
  
    @media screen and (min-width: 768px) {
      gap: 1.4rem;
    }
  
    & > div {
      display: none;
  
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  
    & > div > p:first-child {
      color: var(--color-header-text);
      font-size: var(--font-s-16);
      font-weight: var(--font-w-medium);
    }
  
    & > div > p:last-child {
      font-size: var(--font-s-12);
    }
  
    & > img {
      width: 2.4rem;
      height: 2.4rem;
  
      @media screen and (min-width: 768px) {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }
  
  .menu {
    display: block;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .blinker {
    display: block;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .name {
    color: var(--color-header-text);
    font-size: var(--font-s-14);
    font-weight: var(--font-w-medium);
  
    @media screen and (min-width: 768px) {
      font-size: var(--font-s-16);
    }
  }
  
  .name + p {
    font-size: var(--font-s-12);
    font-weight: var(--font-w-normal);

    @media screen and (min-width: 768px) {
      font-size: var(--font-s-14);
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 1.95rem;
    padding-inline-start: 2.4rem;
    border-block-end: 1px solid var( --color-border-white);
    border-inline-start: 1px solid var( --color-border-white);
    position: sticky;
    top: 0;
    z-index: 1000;
  
    & > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  
    & > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
  
  //MAIN
  .children {
    flex-grow: 1;
    padding: 2.4rem;
    background-color: #fafafa;
    overflow-y: auto;
    overflow-x: hidden;
  
    @media screen and (min-width: 768px) {
      // display: block;
    }
  
    & > div:last-child {
      // display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  